html,
body {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    overflow-y: hidden;
    img {
        pointer-events: none;
    }
}